
.tree-arrow {
  fill: grey;
}

.tree-arrow:hover {
  fill: palegreen;
}

.left-arrow {
  fill: goldenrod;
}

.arrowbox {
  fill: transparent;
}

.normalText {
    font-size: 1em;
    font-family: NotoSans,Helvetica,Arial;
}

.error--node  {
  fill: rgb(0, 0, 0);
}
.data--errors  {
  stroke: #f00;
  stroke-width: 1px;
}

path.data--errors {
  fill: none;
}

path.dashed0 {
  stroke-dasharray: none
}

path.dashed1 {
  stroke-dasharray: 48 2
}

path.dashed2 {
  stroke-dasharray: 38 2
}
path.dashed3 {
  stroke-dasharray: 28 2
}
path.dashed4 {
  stroke-dasharray: 18 2
}
path.dashed5 {
  stroke-dasharray: 8 2
}

circle.data--errors {
  fill: #f00;
}

rect.data--errors {
  stroke: #f00;
  stroke-width: 1px;
}
.no--errors {
  stroke: #111;
  stroke-width: 1px;
}

path.no--errors {
  fill: none;
}

rect.no--errors {
  stroke: none;
}

circle.no--errors {
  fill: #000;
}
.no--errors--not--started {
  fill: #00ffff;
  stroke: #111;
  stroke-width: 2px;
}
.no--errors--in--progress {
  fill: #0f0;
  stroke: #00f;
  stroke-width: 2px;
}

.boldText {
  font-weight: bold;
}

.chosenDate {
  border: black solid 1px;
  font-weight: bold;
}

.q0-3{fill:rgb(252,141,89)}  .q1-3{fill:rgb(255,255,191)}  .q2-3{fill:rgb(145,191,219)}
 .q0-4{fill:rgb(215,25,28)}  .q1-4{fill:rgb(253,174,97)}  .q2-4{fill:rgb(171,217,233)}  .q3-4{fill:rgb(44,123,182)}
 .q0-5{fill:rgb(215,25,28)}  .q1-5{fill:rgb(253,174,97)}  .q2-5{fill:rgb(255,255,191)}  .q3-5{fill:rgb(171,217,233)}  .q4-5{fill:rgb(44,123,182)}
 .q0-6{fill:rgb(215,48,39)}  .q1-6{fill:rgb(252,141,89)}  .q2-6{fill:rgb(254,224,144)}  .q3-6{fill:rgb(224,243,248)}  .q4-6{fill:rgb(145,191,219)}  .q5-6{fill:rgb(69,117,180)}
 .q0-7{fill:rgb(215,48,39)}  .q1-7{fill:rgb(252,141,89)}  .q2-7{fill:rgb(254,224,144)}  .q3-7{fill:rgb(255,255,191)}  .q4-7{fill:rgb(224,243,248)}  .q5-7{fill:rgb(145,191,219)}  .q6-7{fill:rgb(69,117,180)}
 .q0-8{fill:rgb(215,48,39)}  .q1-8{fill:rgb(244,109,67)}  .q2-8{fill:rgb(253,174,97)}  .q3-8{fill:rgb(254,224,144)}  .q4-8{fill:rgb(224,243,248)}  .q5-8{fill:rgb(171,217,233)}  .q6-8{fill:rgb(116,173,209)}  .q7-8{fill:rgb(69,117,180)}
 .q0-9{fill:rgb(215,48,39)}  .q1-9{fill:rgb(244,109,67)}  .q2-9{fill:rgb(253,174,97)}  .q3-9{fill:rgb(254,224,144)}  .q4-9{fill:rgb(255,255,191)}  .q5-9{fill:rgb(224,243,248)}  .q6-9{fill:rgb(171,217,233)}  .q7-9{fill:rgb(116,173,209)}  .q8-9{fill:rgb(69,117,180)}

 @keyframes textBlink {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes textBlink {
  50% {
    opacity: 0.5;
  }
}
.textBlink {
  animation: textBlink 1s step-start 0s infinite;
  -webkit-animation: textBlink 1s step-start 0s infinite;
}

.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}